@import "tailwindcss";

:root {
  --font-display: "Syne", sans-serif;
  --font-body: "DM Sans", sans-serif;
  --color-bg: #05070f;
  --color-surface: #0d1117;
  --color-border: rgba(255, 255, 255, 0.08);
  --color-accent: #6c63ff;
  --color-accent-2: #00d4ff;
  --color-text: #f0f0f0;
  --color-muted: #8b8fa8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  overflow-x: hidden;
}
